.row
  .col-sm-12
    = form_for @team, :html => {:role => 'form', :class => 'form-horizontal'} do |f|
      .form-group
        .col-sm-3.control-label
          = label_tag :name, t('.name')
        .col-sm-9
          = f.text_field :name, :class => 'form-control'
          %small= t('.name_instructions')
      .form-group
        .col-sm-offset-3.col-sm-9
          = f.submit t('save'), :class => ['btn', 'btn-default']
