- if @team.race.open_for_registration? || current_user.is_any_of?(:admin, :operator)
  .row
    .col-sm-12
      = t('.instructions')
  .row
    .col-sm-12
      = form_for @team, :html => {:role => 'form', :class => 'form-horizontal'} do |f|

        .form-group
          .col-sm-6.col-md-5.control-label= label_tag :name, t('.name')
          .col-sm-6.col-md-7= f.text_field :name, :class => 'form-control'

        .form-group
          .col-sm-6.col-md-5.control-label= label_tag :description, t('.description')
          .col-sm-6.col-md-7= f.text_area :description, :class => 'form-control'

        .form-group
          .col-sm-6.col-md-5.control-label= label_tag :experience, t('.experience')
          .col-sm-6.col-md-3= f.select :experience, Team::EXPERIENCE_LEVELS.map.with_index { |n,i| [n, i] }, {:prompt => 'Please Select'}, :class => 'form-control'

        .form-group
          .col-sm-6.col-sm-offset-6.col-md-offset-5.col-md-8
            = f.submit t('save'), :class => ['btn', 'btn-default'], data: { disable_with: "Please wait..." }
            - if @team.id
              = link_to team_url(@team.id) do
                .btn.btn-default
                  = t('back')

- else
  .row
    .col-sm-12
      = t('.registration_closed')
