
%table.team_sort.table.table-hover.table-responsive
  %thead
    %tr
      %th.filter-false Status
      %th.filter-false Details
      %th Team
      %th.filter-select Type

  - teams.each do |team|
    %tr
      %td
        - if team.finalized?
          %span.fa.fa-smile-o.fa-2x.text-success{:alt => "complete"}
        - else
          %span.fa.fa-frown-o.fa-2x.text-danger{:alt => "incomplete"}
          .text-danger.text_center
            %small
              = team.percent_complete
              &#37;

      %td{:style => 'width: 100px'}
        %small
          = time_ago_in_words(team.updated_at)
          %br
          - if current_user.is_any_of? :admin, :operator
            = team.requirements.count
            = t('of')
            = @race.requirements.count
            = t('.paid')
            %br
            = pluralize(team.experience, 'year')
            = t('.exp')

      %td
        %h4
          - if (can? [:show], team) || (current_user.team_ids.include? team.id)
            = link_to team.name, team_url(team)
          - else
            = team.name

        %p
          %i.fa.fa-quote-left.pull-left.fa-border
          = team.description

      %td
        -#= team.racer_type.humanize

= javascript_include_tag "//cdnjs.cloudflare.com/ajax/libs/jquery.tablesorter/2.13.3/jquery.tablesorter.min.js"
= javascript_include_tag "//cdnjs.cloudflare.com/ajax/libs/jquery.tablesorter/2.13.3/jquery.tablesorter.widgets.min.js"
= stylesheet_link_tag "//cdnjs.cloudflare.com/ajax/libs/jquery.tablesorter/2.13.3/css/theme.bootstrap.css"
