%table.team_sort.table.table-hover.table-responsive{:id => table_id}
  %thead
    %tr
      %th.filter-false Status
      - if current_user.is_any_of?(:admin, :operator)
        %th.filter-false Payments
      %th.filter-false Team Experience
      %th.filter-false Racer Experience
      %th Team
      - if filter_field.any?
        - filter_field.each do |f|
          %th.filter-select
            = f.humanize

  - teams.each do |team|
    %tr
      %td
        - if team.finalized
          %span.fa.fa-smile-o.fa-2x.text-success{:alt => "complete"}
        - else
          %span.fa.fa-frown-o.fa-2x.text-danger{:alt => "incomplete"}
          .text-danger.text_center
            %small
              = team.percent_complete
              &#37;

      - if current_user.is_any_of?(:admin, :operator)
        %td{:style => 'width: 100px'}
          %p
            = team.requirements.count
            = t('of')
            = @race.requirements.count
            = t('.paid')
          %p.small
            = time_ago_in_words(team.updated_at)

      %td
        = pluralize(team.experience, 'year')

      %td
        = pluralize(team.person_experience, 'year')

      %td
        %h4
          - if (can? [:show], team) || (current_user.team_ids.include? team.id)
            = link_to team.name, team_url(team)
          - else
            = team.name

        %p
          %i.fa.fa-quote-left.pull-left.fa-border
          = team.description

      - if filter_field.any?
        - filter_field.each do |f|
          %td
            = team.jsonform_value(f)
