.panel.panel-default
  .panel-heading
    - if can? :update, team
      .pull-right
        = link_to(edit_team_url team.id) do
          %i.fa.fa-edit.fa-2x
    %span.lead
      = team.name

  .panel-body
    %h4= link_to t('.registered_for', :name => team.race.name), team_path(:id => team.id)

    - if team.finalized?
      .pull-left.fa.fa-smile-o.fa-3x.text-success
      = link_to t('fully_registered'), team_path(:id => team.id), :class => 'text-success'
      %p.small=t '.youre_in'
    - else
      .pull-left.fa.fa-frown-o.fa-3x.text-danger
      = link_to t('team_needs_attention'), team_path(:id => team.id), :class => 'text-danger'
      %p.small
        =t '.fix_it'
    %hr
