.col-xs-3
  .panel.panel-default.pull-left
    .panel-heading
      = team.name
      %small
        = link_to(edit_team_url :id => team.id) do
          .fa.fa-edit.fa-fw

    .panel-body
      %p.lead= @race.name

      - if team.races.include? @race
        - reg = team.registrations(@race).first
        %p
          =t 'registered_as'
          = reg.name
        = link_to race_registration_path(:race_id => @race.id, :id => reg.id), :class => %w(btn btn-xs) do
          - if reg.finalized?
            .pull-left.fa.fa-smile-o.fa-4x
            =t 'fully_registered'
          - else
            .pull-left.fa.fa-frown-o.fa-4x
            =t 'registration_needs_attention'
      - else
        %p= link_to t('register_for', :race_name => @race.name), new_race_registration_url(session[:race_id], :team_id => team.id), :class => %w(btn btn-xs btn-primary)
