.col-xs-3
  .panel.panel-default.pull-left
    .panel-heading
      = team.name
      %small
        = link_to(edit_team_url :id => team.id) do
          .fa.fa-edit.fa-fw

    .panel-body
      %p.lead= @race.name
      - if team.races.include? @race
        .pull-left
          = link_to race_registration_path(:race_id => @race.id, :id => team.registrations(@race).first.id), :class => %w(btn btn-xs) do
            .fa.fa-flag-checkered.fa-fw
            =t 'manage_registration'

      - else
        %p= link_to t('register_for', :race_name => @race.name), new_race_registration_url(session[:race_id], :team_id => team.id), :class => %w(btn btn-xs btn-primary)
