.panel.panel-default
  .panel-heading
    - if can? :update, team
      .pull-right
        = link_to(edit_team_url team.id) do
          %i.fa.fa-edit.fa-2x
    %span.lead
      = link_to team.name, team_path(id: team.id)

  .panel-body
    .row
      .col-xs-3.col-sm-2.col-md-3.col-lg-2
        - if team.finalized?
          .pull-left.fa.fa-smile-o.fa-3x.text-success
        - else
          - if team.race.over?
            .pull-left.fa.fa-frown-o.fa-3x.text-muted
          - elsif team.race.registration_over?
            .pull-left.fa.fa-frown-o.fa-3x.text-muted
          - else
            .pull-left.fa.fa-frown-o.fa-3x.text-danger


      .col-xs-9.col-sm-10.col-md-9.col-lg-10
        - if team.finalized?
          = link_to t('.registered_for', race: team.race.name), team_path(team)
        - else
          = link_to t('.registering_for', race: team.race.name), team_path(team)

        %br
        %small
          - if team.finalized?
            = link_to t('fully_registered'), team_path(:id => team.id), :class => 'text-success'
            %p= t('.youre_in')
          - else
            - if team.race.over?
              = link_to t('.team_is_dead'), team_path(:id => team.id), :class => 'text-muted'
              %p=t '.race_over_slacked'

            - elsif team.race.registration_over?
              = link_to t('.team_is_dead'), team_path(:id => team.id), :class => 'text-muted'
              %p=t '.registration_over_slacked'

            - else
              = link_to t('team_needs_attention'), team_path(:id => team.id), :class => 'text-danger'
              %p
                =t '.fix_it'
    %hr
