.page-header
  - if @race.present?
    %h2= t('.your_teams_for_race', :name => @race.name)
  - else
    %h2= t('.your_teams')

- unless @myteams.present?
  .row
    .col-lg-9.col-xs-12
      .alert.alert-warning.alert-dismissible{:role => 'alert'}
        %button.close{ :data => { :dismiss => "alert" } }
          %span{:'aria-hidden' => true}
            &times;
          %span.sr-only
            Close
        =t('.no_teams')

.row
  .col-lg-9.col-xs-12
    %p= t('.instructions')

- if @race.present?
  .row
    .col-lg-9.col-xs-12
      - if @race.open_for_registration?
        = link_to new_team_path(:race_id => @race.id) do
          - if @race.full?
            .btn.btn-warning
              = t('.register_waitlist')
          - else
            .btn.btn-success
              = t('.register_for', :name => @race.name)

- if @myteams.present?
  - @myteams.each do |team|
    .row
      .col-xs-6.col-md-4.pull-left
        = render 'team_item', :team => team
