.page-header
  - if @race.present?
    %h2= t('.your_teams_for_race', :name => @race.name)
  - else
    %h2= t('.your_teams')

.row
  .col-xs-12.col-md-9
    %p= t('.instructions')

- unless @myteams.present?
  .row
    .col-xs-12.col-md-9
      .alert.alert-warning.alert-dismissible{:role => 'alert'}
        %button.close{ :data => { :dismiss => "alert" } }
          %span{:'aria-hidden' => true}
            &times;
          %span.sr-only
            Close
        =t('.you_have_no_teams')

- if @race.present? && @race.open_for_registration?
  .row
    .col-xs-12.col-md-9
      = link_to new_team_path(:race_id => @race.id) do
        - if @race.full?
          .btn.btn-warning
            = t('.register_waitlist')
        - else
          .btn.btn-success
            = t('.register_for', :name => @race.name)

- if @myteams.present?
  .row
    - @myteams.each do |team|
      .col-xs-12.col-sm-6.col-md-4.col-lg-4.pull-left
        = render 'team_item', :team => team
