= form_for @tier, :html => {:role => 'form', :class => 'form-horizontal'} do |f|

  = f.hidden_field :requirement_id, {:value => @requirement.id}

  .form-group
    .col-sm-4.control-label
      = label_tag :price, t('.price')
    .col-sm-8
      = f.text_field :price, :class => 'form-control'
      %small= t('.price_instructions')

  .form-group
    .col-sm-4.control-label
      = label_tag :begin_at, t('.begin_at')
    .col-sm-8
      = f.datetime_select :begin_at, :class => 'form-control'

  .form-group
    .col-sm-offset-4.col-sm-8
      = f.submit t('save'), :class => ['btn', 'btn-default']
      - if @tier.id
        = link_to tier_url(@tier) do
          .btn.btn-default
            = t('back')
