%html
  %head
    %meta{"http-equiv" => "Content-Type", :content => "text/html; charset=utf-8"}
  %body
    %h1 dogtag
    %h4
      Good news!  Your team fundraising page has been successfully created and pre-populated with
      your team details on the Classy fundraising platform. While fundraising is not required to participate in CHIditarod, it's the
      epicness of our teams and their fundraising powers that give CHIditarod such a powerful impact
      fighting hunger in Chicago.  We hope you will join us on this quest!

    %p
      If you don't have a Classy account yet, you should see a
      "Claim Your Account" email from Classy in your inbox. Please open that email and follow the instructions
      to setup your Classy account, which will give you access to your fundraising page.
      If you were already a Classy user, simply go to
      %a{:href=>"http://classy.org"}
        http://classy.org
      and login.

    %p
      Once you have logged in, you should see 2 entries on your profile page:
      %ol

        %li
          %h3
            Team:
            = @team.name
          %p
            This is your Team fundraising profile.  There are many ways to
            %a{:href=>"https://www.classy.org/team/#{@team.classy_id}/dashboard/overview"}
              customize
            your team profile. Follow
            %a{:href => "https://support.classy.org/customer/en/portal/articles/2483368-how-to-manage-your-team-as-a-team-captain" }
              this link
            to get tips and suggestions on how to manage your team.
            You can (and probably should) invite your teammates to
            %a{:href=>"https://www.classy.org/team/#{@team.classy_id}"}
              join your team
            and help fundraise with their own fundraising pages. All they need to do is click that link and click Join Team.
            Your team page will calculate how much your team has raised in total.  Complete with your fellow teams for
            Most Epic Fundraiser and show the world via the leaderboard!
          %ul
            %li
              %a{:href=>"https://www.classy.org/team/#{@team.classy_id}"}
                Your Team Page
            %li
              %a{:href=>"https://www.classy.org/team/#{@team.classy_id}/dashboard/overview"}
                Customize
            %li
              %a{:href=> "https://support.classy.org/customer/en/portal/articles/2483368-how-to-manage-your-team-as-a-team-captain"}
                Classy support page

        %li
          %h3
            Fundraiser:
            = @team.name
          %p
            This is the personal fundraising page we created for your Classy user account. We then linked it with your team fundraiser (#1 above).
            To get you started we added a suggested fundraising goal that you can modify.
            There are also many ways to
            %a{:href=> "https://www.classy.org/fundraiser/#{@team.classy_fundraiser_page_id}/dashboard/overview"}
              customize
            your fundraiser page to tell your story.  It's easy! After customizing your page, it is very easy to
            %a{:href=> "https://www.classy.org/fundraiser/#{@team.classy_fundraiser_page_id}"}
              share it!
          %ul
            %li
              %a{:href=> "https://www.classy.org/fundraiser/#{@team.classy_fundraiser_page_id}"}
                Your Personal Page
            %li
              %a{:href=> "https://www.classy.org/fundraiser/#{@team.classy_fundraiser_page_id}/dashboard/overview"}
                Customize

    %p
      Please try claiming your Classy account and rock that fundraiser!  If you have issues, questions, or concerns,
      we are here to help.. please email us at
      %a{:href=>"mailto:fundraising@chiditarod.org"}
        fundraising@chiditarod.org

    %p
      xoxo,
      %br
      %a{:href=>"mailto:dogtag@chiditarod.org"}
        dogtag bot
