%html
  %head
    %meta{"http-equiv" => "Content-Type", :content => "text/html; charset=utf-8"}
  %body
    %h1 dogtag  :::  Chiditarod registration BoT
    %h4
      Congratulations on completing your
      = @reg.race.name
      registration. You are now
      %b
        Fully Registered.
    %p
      Team:
      = @reg.name
    %p
      Racers:
      %ul
        - @reg.people.each do |p|
          %li
            = p.first_name
            = p.last_name
    %p
      You can update your team information at
      %a{:href=>"http://dogtag.chiditarod.org"}
        dogtag.chiditarod.org
      until
      = @reg.race.registration_close.strftime("%B %e, %Y")
      when registration closes.
    %p
      More communications will of course be on the way.
      Now, go out and read our freshly-updated
      %a{:href=>"http://www.chiditarod.org/"}
        www.chiditarod.org
      website content.

    %p
      glory,
      %br
      %a{:href=>"mailto:dogtag@chiditarod.org"}
        dogtag bot
