%table.table
  %thead
    %tr
      %th
      %th= t('name')
      %th= t('email')
      %th= t('cell_phone')
      %th= t('twitter')
  - people.each do |person|
    %tr
      %td
        - if person.team.race.open_for_registration? || current_user.is_any_of?(:admin, :operator)
          = link_to(edit_team_person_url :team_id => person.team.id, :id => person.id) do
            %i.fa.fa-edit.fa-2x
        - if current_user.is? :admin
          = button_to t('delete'), team_person_url(:team_id => person.team.id, :id => person.id), :method=>:delete,  :data => { :confirm => 'Are you sure?' }
      %td
        = person.first_name
        = person.last_name
      %td= person.email
      %td= person.phone
      %td= person.twitter
