%table.table
  %thead
    %tr
      %th
      %th= t('name')
      %th= t('email')
      %th= t('phone')
      %th= t('twitter')
  - people.each do |person|
    %tr
      %td
        - if person.registration.race.open_for_registration?
          = link_to(edit_race_registration_person_url :race_id => person.registration.race.id, :registration_id => person.registration.id, :id => person.id) do
            %i.fa.fa-edit.fa-2x
        - if current_user.is? :admin
          = button_to t('delete'), race_registration_person_url(:race_id => person.registration.race.id, :registration_id => person.registration.id, :id => person.id), :method=>:delete,  :data => { :confirm => 'Are you sure?' }
      %td
        = person.first_name
        = person.last_name
      %td= person.email
      %td= person.phone
      %td= person.twitter
