.row.col-sm-8
  = form_for [@race, @requirement.becomes(Requirement)], :html => {:role => 'form', :class => 'form-horizontal'} do |f|
    .form-group
      .col-sm-4.control-label
        = label_tag :name, t('.name')
      .col-sm-8
        = f.text_field :name, :class => 'form-control'
        %small= t('.name_instructions')
    .form-group
      .col-sm-4.control-label
        = label_tag :type, t('.type')
      .col-sm-8
        = f.select :type, options_for_select(Requirement.allowed_types), :class => 'form-control'

    .form-group
      .col-sm-offset-4.col-sm-8
        = f.submit t('save'), :class => ['btn', 'btn-default']
        - if @requirement.id
          = link_to race_url(@requirement.race) do
            .btn.btn-default
              = t('back')
