- if req.completed?(team)
  -# todo: this is now my least favorite part of this codebase. put this somewhere better.
  - cr = req.cr_for(team)
  - charge = Stripe::Charge.retrieve(cr.metadata['charge_id'])
  - if charge.refunded
    %span.label.label-primary
      = t('refunded')
  - else
    %i.fa.fa-check-circle-o.fa-5x.pull-left
    .lead
      $
      = price_in_dollars_and_cents cr.metadata['amount']
    = t('completed')

    - if current_user.is_any_of? [:refunder, :admin]
      = button_to t('refund'), charge_refund_url(charge.id), :method=>:post, :data => { :confirm => 'Are you sure?'}, :class=> %w(btn btn-danger)
    - if current_user.is? :admin
      = button_to t('refund_and_invalidate'), charge_refund_url(charge.id), :method=>:post, :data => { :confirm => 'Are you sure?'}, :class=> %w(btn btn-danger), :params => {:delete_completed_requirement => true}

- else

  - if req.race.open_for_registration?
    .lead
      $
      = price_in_dollars_and_cents(req.active_tier.price)

      -# show next tiers
      - unless req.next_tiers.empty?
        %small
          %small
            %small
              - req.next_tiers.each do |tier|
                %br
                %em
                  $
                  = price_in_dollars_and_cents(tier.price)
                  \:
                  = tier.begin_at.strftime("%b %e, %Y")

    - if @race.full?
      %h4.text-warning
        = t('.no_pay_waitlist')
    - else
      = render 'charges/embed', :params => req.stripe_params(@team)

  - else
    %i.lead.text-danger
      %i.fa.fa-lock.fa-5x
      /= payment system locked when registration is closed
      %br
      = t('.no_complete_when_closed')
