.page-header

  %h1
    = link_to new_tier_url(:requirement_id => @requirement.id) do
      %i.fa.fa-plus
    = t('.payment_tiers')
    - if @requirement.tiers.present?
      %small
        \-
        = @requirement.tiers.count


- if @requirement.tiers.blank?
  = t ('.no_tiers_added')
- else
  = render 'tiers/table', :tiers => @requirement.tiers
