.page-header
  %h1
    = t('.manage_race')
    %small= t('mush')

= form_for @race, :html => {:role => 'form', :class => 'form-horizontal'} do |f|
  .form-group
    .col-sm-4.control-label
      = label_tag :name, t('.name')
    .col-sm-4
      = f.text_field :name, :class => 'form-control'

  .form-group
    .col-sm-4.control-label
      = label_tag :registration_open, t('.registration_open')
    .col-sm-8
      = f.datetime_select :registration_open, :class => 'form-control'

  .form-group
    .col-sm-4.control-label
      = label_tag :registration_close, t('.registration_close')
    .col-sm-8
      = f.datetime_select :registration_close, :class => 'form-control'

  .form-group
    .col-sm-4.control-label
      = label_tag :race_datetime, t('.race_datetime')
    .col-sm-8
      = f.datetime_select :race_datetime, :class => 'form-control'

  .form-group
    .col-sm-4.control-label
      = label_tag :max_teams, t('.max_teams')
    .col-xs-2
      = f.text_field :max_teams, :class => 'form-control'

  .form-group
    .col-sm-4.control-label
      = label_tag :people_per_team, t('.people_per_team')
    .col-xs-2
      = f.text_field :people_per_team, :class => 'form-control'

  .form-group
    .col-sm-4.control-label
      = label_tag :jsonform, t('.jsonform_data')
    .col-sm-8
      = f.text_area :jsonform, :class => 'form-control'

  .form-group
    .col-sm-4.control-label
      = label_tag :filter_field, t('.filter_field')
    .col-sm-8
      = f.select :filter_field, options_for_select(@race.question_fields, @race.filter_field_array), {}, {multiple: true, class: 'form-control'}

  .form-group
    .col-sm-offset-4.col-sm-8
      = f.submit t('save'), :class => ['btn', 'btn-default']

