
.col-xs-4
  = link_to race_path(race.id) do
    %i.fa.fa-shopping-cart.fa-5x
.col-xs-6
  .pull-right
    %h4= link_to race.name, race_path(race.id)
    %small
      = race.finalized_registrations.count
      of
      = race.max_teams
      = t('.teams')

.clearfix

- if race.registerable?
  %br
  = race.spots_remaining
  = t '.spots_remaining'
  - if race.open_for_registration?
    %br
    = distance_of_time_in_words race.days_before_close
    = t('.left_to_register')
    %br
    = t '.registration_closes_on'
    = human_readable_short race.registration_close
  - else
    %h3= t('.registration_closed')
- else
  - if race.full?
    %h5
      = t('.race_is_full')
    = race.waitlist_count
    = t('.team')
    = t('.on_waitlist')
  - else
    = t('.registration_opens_on')
    = human_readable_short race.registration_open

