%p
  - if race.registerable?
    = distance_of_time_in_words race.days_before_close
    = t('.left_to_register')
    %br

  - if Time.now < race.registration_open
    = t('.registration_opens_on')
    = race.registration_open.strftime("%B %e, %Y")
    = t('.and_closes_on')
    = race.registration_close.strftime("%B %e, %Y")

%p
  = race.spots_remaining
  = t '.spots_remaining'

  - if race.full?
    %h5
      = t('.race_is_full')
    = pluralize(race.waitlist_count, t('.team'))
    = t('.on_waitlist')
