.row
  .col-xs-4.col-sm-3
    .btn
      = link_to race_path(race.id) do
        %i.fa.fa-shopping-cart.fa-4x

    - if race.open_for_registration?
      = link_to new_team_path(:race_id => race.id) do
        - if race.full?
          .btn.btn-warning
            = t('.register_waitlist')
        - else
          .btn.btn-success
            = t('.register_now')

  .col-xs-8.col-sm-9
    %h2
      = link_to race.name, race_path(race)

    - unless terse
      = link_to race_registrations_url(:race_id => race.id) do
        = race.finalized_teams.size
        = t('.teams_registered')

        %br

      - if race.over?
        = t('.race_complete')
      - elsif race.open_for_registration?
        = render 'races/race_metadata', :race => race
      - elsif race.not_yet_open?
        = t('.not_time_yet')
      - else
        = t('.registration_closed')
