
.pull-left
  .btn
    = link_to race_path(race.id) do
      %i.fa.fa-shopping-cart.fa-5x
%h1= link_to race.name, race_path(race.id)
%small
  - if race.open_for_registration?
    = race.finalized_registrations.count
    of
    = race.max_teams
    = t('.teams_registered')
  - else
    = t('closed')

.clearfix
%br
= render 'races/race_metadata', :race => race

- if race.open_for_registration?
  .center-block
    = link_to teams_path(:race_id => race.id) do
      - if race.full?
        .btn.btn-warning
          = t('.register_waitlist')
      - else
        .btn.btn-primary
          = t('.register_now')
