.row
  .col-xs-3
    .btn
      = link_to race_path(race.id) do
        %i.fa.fa-shopping-cart.fa-4x
  .col-xs-9
    %h2= link_to race.name, race_path(race.id)
    %small
      = race.finalized_teams.count
      of
      = race.max_teams
      = link_to t('.teams_registered'), race_registrations_url(:race_id => race.id)
      %br
      - if race.open_for_registration?
        = t('open')
      - else
        = t('closed')

.row
  .col-xs-12
    - if race.open_for_registration?
      = render 'races/race_metadata', :race => race

      .center-block
        = link_to new_team_path(:race_id => race.id) do
          - if race.full?
            .btn.btn-warning
              = t('.register_waitlist')
          - else
            .btn.btn-success
              = t('.register_now')
