= form_for @race, :html => {:role => 'form', :class => 'form-horizontal'} do |f|
  .form-group
    = label_tag :name, t('.name'), :class => ['col-sm-4', 'control-label']
    .col-sm-8
      = f.text_field :name, :class => 'form-control'
  .form-group
    = label_tag :race_datetime, t('.datetime'), :class => ['col-sm-4', 'control-label']
    .col-sm-8
      -#= f.datetime_field :race_datetime, :class => 'form-control'
      = f.datetime_select :race_datetime, :class => 'form-control'
  .form-group
    = label_tag :max_teams, t('.max_teams'), :class => ['col-xs-4', 'control-label']
    .col-xs-2
      = f.text_field :max_teams, :class => 'form-control'
  .form-group
    = label_tag :racers_per_team, t('.racers_per_team'), :class => ['col-xs-4', 'control-label']
    .col-xs-2
      = f.text_field :racers_per_team, :class => 'form-control'
  .form-group
    .col-sm-offset-4.col-sm-8
      = f.submit t('.save'), :class => ['btn', 'btn-default']
