%p
  - if race.registerable?
    = t('.registration_closes')
    = race.registration_close.strftime("%B %e, %Y, %l:%M:%S %P %Z")

  %br

  - if Time.zone.now < race.registration_open
    = t('.registration_opens')
    = race.registration_open.strftime("%B %e, %Y")
    %br
    = t('.registration_closes')
    = race.registration_close.strftime("%B %e, %Y")

  %br

  = race.spots_remaining
  = t '.spots_remaining'

  - if race.full?
    %h5
      = t('.race_is_full')
    = pluralize(race.waitlist_count, t('.team'))
    = t('.on_waitlist')
