.row
  .col-sm-12
    = render 'form'


.page-header
  %h3
    = t('.race_requirements')
    - if can? :create, @Requirement
      = link_to new_race_requirement_url(@race) do
        %i.fa.fa-plus

- if @race.requirements.blank?
  = t ('.no_requirements_added')
- else
  = render 'requirements/table', :requirements => @race.requirements
