.page-header
  %h1= t('.open_races')
- if @races.blank?
  = t '.no_races'
- else
  .row
    - @races.each do |race|
      .col-s4.pull-left
        = render 'race_item', :race => race

-#todo: this needs to be admin only

.page-header
  %h1= t('.admin_all_races')
- if @all_races.blank?
  = t '.no_races'
  = link_to t('.create_race'), new_race_path
- else
  - @all_races.each do |race|
    .col-s4.pull-left
      = render 'race_item', :race => race
