.page-header
  %h1
    = t('.title')
    - if can? :update, @race
      %small
        = link_to new_race_path do
          %i.fa.fa-plus

- if @current_races.blank?
  = t '.no_races'
- else
  .row.well
    - @current_races.each do |race|
      .col-xs-12.col-md-6.pull-left
        .panelpanel-default
          .panel-body
            = render 'race_item', :race => race, :terse => false
.clearfix

%h3= t('.past_races')
- if @past_races.blank?
  = t '.no_races'
- else
  .row.well
    - @past_races.each do |race|
      .col-xs-12.col-md-6.pull-left
        .panel.panel-default
          .panel-body
            = render 'race_item', :race => race, :terse => true
