.page-header
  %h1
    = t('.title')
    - if can? :update, @race
      %small
        = link_to new_race_path do
          %i.fa.fa-plus
  %p= t('.instructions')

- if @races.blank?
  = t '.no_races'
- else
  .row.well
    - @races.each do |race|
      .col-sm-6.pull-left
        .panel.panel-default
          .panel-body
            = render 'race_item', :race => race
.clearfix
