.row
  .col-sm-12
    .page-header
      .pull-right
        = render 'races/admin_buttons', :race => @race
      %h1
        - if can? :update, @race
          = link_to edit_race_path @race do
            %li.fa.fa-edit
        = @race.name
        %small
          = human_readable @race.race_datetime

.row
  - if @my_race_teams.present?
    .col-sm-12.col-md-6
      %h3= t('.your_teams')
      .row
        - @my_race_teams.each do |team|
          .col-xs-6.pull-left
            = render 'teams/team_item', :team => team, :race => @race

  .col-sm-12.col-md-6
    %h3
      - if Time.now < @race.registration_open
        = t('.not_time_yet')
      - elsif @race.open_for_registration?
        = @race.finalized_teams.size
        of
        = @race.max_teams
        = t('.teams_registered')
      - else
        = t('.registration_closed')

    = render 'races/race_metadata', :race => @race

    - if @race.open_for_registration?
      - if @race.full?
        = link_to t('.register_waitlist'), new_team_url(:race_id => params[:id]), :class => ['btn', 'btn-warning']
      - else
        = link_to t('.register_now'), new_team_url(:race_id => params[:id]), :class => ['btn', 'btn-success']

  - if can? :update, @race
    .col-sm-12.col-md-6.col-lg-4
      %h3= t('.statistics')
      %dl
        %dd Money Raised
        %dt= price_in_dollars_and_cents(@stats['money_raised'])
      -#= @stats.inspect
