.row
  .col-sm-8
    .page-header
      %h1
        = link_to edit_race_path @race do
          %li.fa.fa-edit.fa-fw
        = @race.name
        %small
          = human_readable @race.race_datetime

    %h3
      - if @race.open_for_registration?
        = @race.finalized_registrations.count
        of
        = @race.max_teams
        = t('.teams_registered')
      - else
        = t('closed')
    = render 'races/race_metadata', :race => @race

    - if @race.open_for_registration?
      .row
        .col-xs-12
          - if @race.full?
            = link_to t('.register_waitlist'), teams_path(:race_id => params[:id]), :class => ['btn', 'btn-primary']
          - else
            = link_to t('.register_now'), teams_path(:race_id => params[:id]), :class => ['btn', 'btn-primary']

    - else
      %h3= t('.registration_closed')



    -#todo: admin stuff is below

    .page-header
      %h3
        = t('.race_requirements')
        = link_to new_race_requirement_url(@race) do
          %i.fa.fa-plus

    - if @race.requirements.blank?
      = t ('.no_requirements_added')
    - else
      = render 'requirements/table', :requirements => @race.requirements
