.row
  .col-md-8
    .page-header
      %h1
        - if can? :update, @race
          = link_to edit_race_path @race do
            %li.fa.fa-edit
        = @race.name
        %small
          = human_readable @race.race_datetime

    %h3
      - if @race.open_for_registration?
        = @race.finalized_registrations.count
        of
        = @race.max_teams
        = t('.teams_registered')
      - else
        = t('closed')
    = render 'races/race_metadata', :race => @race

    - if @race.open_for_registration?
      - if @race.full?
        = link_to t('.register_waitlist'), teams_path(:race_id => params[:id]), :class => ['btn', 'btn-warning']
      - else
        = link_to t('.register_now'), teams_path(:race_id => params[:id]), :class => ['btn', 'btn-success']

    - else
      %h3= t('.registration_closed')

.row
  - if @my_race_registrations.present?
    .col-xs-12
      %h3= t('.your_registrations')
    - @my_race_registrations.each do |reg|
      .col-xs-6.col-md-4.pull-left
        = render 'teams/team_item', :team => reg.team, :race => @race
