
.page-header
  %h1
    = @race.name
    %small
      = link_to edit_race_path @race do
        %span.glyphicon.glyphicon-edit

.row
  .col-xs-3
    = t('.race_datetime')
  .col-xs-9
    = human_readable @race.race_datetime
.row
  .col-xs-3
    = t('.registration_open')
  .col-xs-9
    = human_readable @race.registration_open
.row
  .col-xs-3
    = t('.registration_close')
  .col-xs-9
    = human_readable @race.registration_close
.row
  .col-xs-3
    = t('.max_teams')
  .col-xs-9
    = @race.max_teams
.row
  .col-xs-3
    = t('.people_per_team')
  .col-xs-9
    = @race.people_per_team


