.col-sm-6
  = form_for @user, :html => {:role => 'form', :class => 'form-horizontal'} do |f|
    .form-group
      .col-sm-4.control-label
        = label_tag :name, t('.first_name')
      .col-sm-8
        = f.text_field :first_name, :class => 'form-control'
    .form-group
      .col-sm-4.control-label
        = label_tag :name, t('.last_name')
      .col-sm-8
        = f.text_field :last_name, :class => 'form-control'
    .form-group
      .col-sm-4.control-label
        = label_tag :name, t('.email')
      .col-sm-8
        = f.text_field :email, :class => 'form-control'
    .form-group
      .col-sm-4.control-label
        = label_tag :name, t('.phone')
      .col-sm-8
        = f.text_field :phone, :class => 'form-control'
    .form-group
      .col-sm-4.control-label
        = label_tag :name, t('.password')
      .col-sm-8
        = f.password_field :password, :class => 'form-control'
    .form-group
      .col-sm-4.control-label
        = label_tag :name, t('.password_confirmation')
      .col-sm-8
        = f.password_field :password_confirmation, :class => 'form-control'

    - if current_user && current_user.gets_admin_menu?
      .form-group
        .col-sm-4.control-label
          = label_tag :name, t('.role')
        .col-sm-8
          = f.collection_select :roles, @user.class.valid_roles, :to_s, :to_s,
            {:selected => @user.roles.map(&:to_s), :prompt => ''}, {:multiple => true}

    .form-group
      .col-sm-offset-4.col-sm-8
        = f.submit 'Save', :class => ['btn', 'btn-default']
