%h1
  =t('.users')
  %small
    = link_to new_user_path do
      %i.fa.fa-plus

%table.table.table-bordered.table-hover
  %tr
    %th Name
    %th Email
    %th Roles
    - if current_user.is? :admin
      %th Actions

  - @users.each do |user|
    %tr
      %td= link_to user.fullname, user
      %td= user.email
      %td= user.roles.to_a.map(&:capitalize).join(', ')
      - if current_user.is? :admin
        %td
          = link_to 'Edit', edit_user_path(user)
          = link_to 'Destroy', user, :confirm => 'Are you sure?', :method => :delete
