%h1
  =t('.users')
  %small
    = link_to new_user_path do
      %i.fa.fa-plus

%table#users.table.table-bordered.table-hover
  %thead
    %tr
      %th Name
      - if current_user.is? :admin
        %th Activity
        %th Roles
        %th.filter-false Actions

  %tbody
    - @users.each do |user|
      %tr
        %td
          = link_to user.fullname, user
          %br
          %small= mail_to user.email
        - if current_user.is? :admin
          %td
            %small
              -#todo: make a cr presenter
              - if user.completed_requirements
                - user.completed_requirements.each do |cr|
                  .col-xs-4.col-md-2
                    = cr.updated_at.strftime("%b %e, %Y")
                  .col-xs-8.col-md-10
                    = cr.registration.name
                    %br
                    - if cr.metadata
                      - cr.metadata.each do |k,v|
                        - if k == 'customer_id'
                          = link_to v, "https://manage.stripe.com/customers/#{v}"
                        - elsif k == 'charge_id'
                          = link_to v, "https://manage.stripe.com/payments/#{v}"
                        %br
          %td= user.roles.to_a.map(&:capitalize).join(', ')
          %td
            = link_to 'Edit', edit_user_path(user)
            = link_to 'Destroy', user, :confirm => 'Are you sure?', :method => :delete


= javascript_include_tag "//cdnjs.cloudflare.com/ajax/libs/jquery.tablesorter/2.13.3/jquery.tablesorter.min.js"
= javascript_include_tag "//cdnjs.cloudflare.com/ajax/libs/jquery.tablesorter/2.13.3/jquery.tablesorter.widgets.min.js"
= stylesheet_link_tag "//cdnjs.cloudflare.com/ajax/libs/jquery.tablesorter/2.13.3/css/theme.bootstrap.css"
