%h1
  = t('.search')

- if current_user.gets_admin_menu? || current_user.is?(:refunder)
  = form_with id: "search-form", url: "#", method: :get, local: true do |f|
    = f.select :user_id, [], {}, class: 'select2-name', data: { placeholder: 'Search by first, last, or email', url: search_users_path }
    = f.hidden_field :id, id: 'selected-user-id'
    = f.select :team_id, [], {}, class: 'select2-team', data: { placeholder: 'Search by team name', url: search_teams_path }
    = f.hidden_field :team_id, id: 'selected-team-id' 

%hr

%h1
  = t('.users')
  %small
    = link_to new_user_path do
      %i.fa.fa-plus

= paginate(@users)

%table#users.table.table-bordered.table-hover
  %thead
    %tr
      %th Name
      %th Team
      %th Race
      - if current_user.is_any_of?([:admin, :refunder])
        %th Activity
      - if current_user.is?(:admin)
        %th Roles
        %th.filter-false Actions

  %tbody
    - @users.each do |user|
      - if user.teams.empty?
        %tr
          %td
            = link_to user.fullname, user
            %br
            %small= mail_to user.email
          %td
          %td
          %td
          - if current_user.is?(:admin)
            %td= user.roles.to_a.map(&:capitalize).join(', ')
            %td
              = link_to 'Edit', edit_user_path(user)
              = link_to 'Destroy', user, :confirm => 'Are you sure?', :method => :delete
          - else
            %td
            %td
      - else
        - user.teams.each do |t|
          %tr
            %td
              = link_to user.fullname, user
              %br
              %small= mail_to user.email
            %td= link_to t.name, team_url(t.id)
            %td= link_to t.race.name, race_url(t.race.id)
            %td
              %small
                - if current_user.is_any_of?([:admin, :refunder])
                  - t.completed_requirements.each do |cr|
                    .col-xs-4.col-md-4
                      = cr.updated_at.strftime("%b %e, %Y")
                    .col-xs-8.col-md-8
                      - if cr.metadata
                        - cr.metadata.each do |k,v|
                          - if k == 'customer_id'
                            = link_to v, "https://manage.stripe.com/customers/#{v}"
                          - elsif k == 'charge_id'
                            = link_to v, "https://manage.stripe.com/payments/#{v}"
                          - elsif k == 'amount'
                            = price_in_dollars_and_cents(v)
                          %br
                        %br
            - if current_user.is? :admin
              %td= user.roles.to_a.map(&:capitalize).join(', ')
              %td
                = link_to 'Edit', edit_user_path(user)
                = link_to 'Destroy', user, :confirm => 'Are you sure?', :method => :delete
            - else
              %td
              %td