%h1
  =t('.users')
  %small
    = link_to new_user_path do
      %i.fa.fa-plus

%table.table.table-bordered.table-hover
  %tr
    %th Name
    %th Email
    %th Roles
    %th Actions

  - @users.each do |user|
    %tr
      %td= user.fullname
      %td= user.email
      %td= user.roles.to_a.map(&:capitalize).join(', ')
      %td
        = link_to 'Show', user
        = link_to 'Edit', edit_user_path(user)
        = link_to 'Destroy', user, :confirm => 'Are you sure?', :method => :delete
