- if @race

  %h2
    = t('.registrations_for', :name => @race.name)
    - if @registrations.any? && current_user.is_any_of?(:admin, :operator)
      %small
        = mail_to @registrations.map(&:team).map(&:user).map(&:email).join(',') do
          %i.fa.fa-envelope
          User Account Emails

  - if @registrations.any?
    = render 'table', :registrations => @registrations
  - else
    =t('.no_registrations')

- if current_user.is_any_of? :admin, :operator
  - if @waitlisted_registrations.any?
    %h2
      = t('.incomplete_registrations')
      - if current_user.is_any_of? :admin, :operator
        %small
          = mail_to @waitlisted_registrations.map(&:team).map(&:user).map(&:email).join(',') do
            %i.fa.fa-envelope
    = render 'table', :registrations => @waitlisted_registrations
