.page-header
  %h1
    = t('.register_for_race', :race_name => @race.name)
    - if @race.not_full?
      %small= t('.spots_remaining', :remaining => @race.spots_remaining)
    - else
      %small= t('.waitlist_count', :num => (@race.waitlist_count + 1))

  %h4
    = t('.instructions')

.row
  .col-sm-12
    = render 'form'
