.page-header
  %h1
    %small
      = link_to edit_race_registration_path(@race.id, @registration.id) do
        .fa.fa-edit.fa-2x
    = t('.title', :race_name => @race.name)

.row
  .col-md-4
    .row
      %h1
        %small= t('.registered_as')
    .row
      %h2
        = @registration.name
        - if @registration.twitter.present?
          %small
            = link_to @registration.twitter, "http://twitter.com/#{@registration.twitter}/"
  .col-md-6
    .row
      %h1
        %small= t('.description')
    .row
      %h3= @registration.description
  .col-md-2
    .row
      %h1
        %small= t('.status')
    .row
      - if @registration.finalized?
        %i.fa.fa-smile-o.fa-4x
        =t ('complete')
      - else
        %i.fa.fa-frown-o.fa-4x
        =t ('incomplete')

-#-----------------------------------------------------------
-# requirements  (consider partial

- if @registration.race.enabled_requirements.present?
  .page-header
    %h1
      %i.fa.fa-rocket
      = t('.requirements')
      %small
        = @registration.requirements.count
        = t('of')
        = @registration.race.enabled_requirements.count
        - if @registration.completed_all_requirements?
          %i.fa.fa-smile-o
    = t('.requirement_instructions')
  .row
    - @registration.race.enabled_requirements.each do |req|
      .col-xs-3.pull-left
        .panel.panel-default
          .panel-heading
            .pull-right
              - if req.completed?(@registration)
                %i.fa.fa-2x.fa-smile-o
              - else
                %i.fa.fa-2x.fa-frown-o
            %span.lead= req.name
            .clearfix
          .panel-body
            -#todo: render this more generically
            - if req.type == 'PaymentRequirement'
              - if req.completed?(@registration)
                = t('completed')
              - else
                .lead
                  $
                  = req.active_tier.price_in_dollars_and_cents
                - if @race.full?
                  %h4
                    %span.label.label-warning= t('.no_pay_waitlist')
                - else
                  = render 'charges/embed', :params => req.stripe_params(@registration)

-#-----------------------------------------------------------
-# people stuff      (consider partial

.page-header
  %h1
    %i.fa.fa-user
    = t('.people')
    %small
      = @registration.people.count
      = t('of')
      = @registration.race.people_per_team
      - if @registration.needs_people?
        = link_to new_race_registration_person_url(@registration.race.id, @registration.id) do
          %i.fa.fa-plus
      - else
        %i.fa.fa-smile-o

  = t('.people_instructions')

- if @registration.people.blank?
  = t ('.no_people_added')
- else
  = render 'people/table', :people => @registration.people
