/ Static navbar
/ view-source:http://getbootstrap.com/examples/navbar-static-top/
-#.navbar.navbar-default.navbar-static-top{role: "navigation"}
.navbar.navbar-default{role: "navigation"}
  .navbar-header

    %button.navbar-toggle{"data-target" => ".navbar-collapse", "data-toggle" => "collapse", type: "button"}
      %span.sr-only Toggle navigation
      %span.icon-bar
      %span.icon-bar
      %span.icon-bar
    = link_to(I18n.t('website_title'), home_url, :class => 'navbar-brand')

  .navbar-collapse.collapse
    %ul.nav.navbar-nav
      %li
        = link_to races_path do
          %i.fa.fa-shopping-cart.fa-2x
          = t('.races')

      - if current_user

        -#fa-flag-checkered 

        - if current_user.team_ids.present?
          %li
            = link_to teams_path do
              %i.fa.fa-users.fa-2x
              =t '.my_teams'

        - if current_user.gets_admin_menu?
          %li.dropdown
            %a.dropdown-toggle{"data-toggle" => "dropdown", href: "#"}
              %i.fa.fa-star-o.fa-2x
              =t('admin')
              %b.caret
            %ul.dropdown-menu
              %li.dropdown-header= t '.admin_functions'
              %li= link_to t('list'), users_path
              %li= link_to t('new'), new_user_path
              %li.divider

    %ul.nav.navbar-nav.navbar-right
      - if current_user
        %li.dropdown
          %a.dropdown-toggle{"data-toggle" => "dropdown", href: "#"}
            %i.fa.fa-user.fa-2x
            %b.caret
            %ul.dropdown-menu
              %li.dropdown-header
                = current_user.first_name
                = current_user.last_name
              %li
                = link_to edit_user_path(current_user) do
                  %i.fa.fa-edit.fa-fw
                  Edit Profile
              %li
                = link_to user_session_path, :method => :delete, :data => {:confirm => 'Are you sure?'} do
                  %i.fa.fa-sign-out.fa-fw
                  Logout
      - else
        %li
          = link_to new_user_session_path do
            %i.fa.fa-sign-in.fa-2x
            =t '.login'
        %li
          = link_to new_user_path do
            %i.fa.fa-check-square-o.fa-2x
            =t '.register'



      %li.dropdown
        %a.dropdown-toggle{"data-toggle" => "dropdown", href: "#"}
          %i.fa.fa-question-circle.fa-2x
          %b.caret
          %ul.dropdown-menu
            %li.dropdown-header
              Having Problems?
            %li
              = link_to "mailto:dogtag@chiditarod.org?subject=dogtag help" do
                %i.fa.fa-envelope-o.fa-fw
                Email us
            %li
              = link_to "https://github.com/ometa/dogtag/issues/new" do
                %i.fa.fa-fw.fa-github
                File a Bug
