-#= form_for @user_session, :url => user_session_path do |f|
= form_for @user_session, :url => user_session_path do |f|

  -if @user_session.errors.any?
    .alert-danger
      %h4= "#{pluralize(@user_session.errors.count, "issue")} detected:"
      %ul
        - @user_session.errors.full_messages.each do |msg|
          %li= msg

  .input-group.margin-bottom-sm
    %span.input-group-addon
      %i.fa.fa-fw.fa-envelope
    = f.text_field :email, :class => 'form-control'
  .input-group
    %span.input-group-addon
      %i.fa.fa-fw.fa-key
    = f.password_field :password, :class => 'form-control'
  .field
    = f.check_box :remember_me
    = f.label :remember_me
  .action
    = f.submit "Login", :class => ['btn', 'btn-default']
