!!!
%html
  %head
    %title=I18n.t('website_title')

    -# mobile first
    %meta{name: "viewport", content: "width=device-width, initial-scale=1.0"}

    %link{:href=>"//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css", :rel=>"stylesheet"}
    %link{:href=>"//netdna.bootstrapcdn.com/font-awesome/4.0.2/css/font-awesome.min.css", :rel=>"stylesheet"}
    = stylesheet_link_tag "application", :media => "all", "data-turbolinks-track" => true
    = csrf_meta_tags
    = javascript_include_tag "//cdnjs.cloudflare.com/ajax/libs/prettify/r298/prettify.js"
    = javascript_include_tag 'application', "data-turbolinks-track" => true
    -#= javascript_include_if_exists controller_name
    -#= javascript_include_if_exists "#{controller_name}/#{action_name}"

  %body
    = render "navbar"
    .container
      = yield

    %script{:src=>"//netdna.bootstrapcdn.com/bootstrap/3.0.2/js/bootstrap.min.js"}
    %script{:src=>"//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"}
